.example-tooltip-red {
  background: #b71c1c;
}

.mat-row:hover {
  background-color: lightgray;
}

/* .example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
} */

.mat-table {
  overflow: auto;
  max-height: 500px;
  width:100%;
}

.mat-chip {
  font-size: 5px;
}

.mat-basic-chip {
  background: #7986cb;
  color: aliceblue;
  margin: 0 0 0 8px;
  padding: 2px 3px;
  border-radius: 5px;
  font-size: 5px;
}